.globalcontainer {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "_day" "_temp" "_desc";
  background-color: gray;
  color: white;
  border-radius: 5px;
}

.day {
  padding-left: 30px;
  padding-top: 1.25rem;
  font-size: 5vw;
}

.temp {
  font-size: 5vw;
  padding-top: 1.25rem;
}

.desc {
  font-size: 2.5vw;
  text-align: right;
  text-transform: uppercase;
  padding-right: 5px;
}

.desc img {
  width: 30%;
}
