.container {
  text-align: center;
}
.progress_bar2 {
  height: 17px;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(17, 3, 3, 0.3),
    rgba(255, 255, 255, 0)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress_moved .progress_bar2 {
  width: 100%;
  background-color: #fc8f00;
}
.animationclass {
  animation: progressAnimation 60s;
  animation-timing-function: linear;
}

@keyframes progressAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
