.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "_topsection _topsection _topsection"
    "_weather _weather _weather"
    "_weather _weather _weather"
    "_weather _weather _weather";
}

._topsection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "_location _time _temprature"
    "_description . ."
    "_loadingbar _loadingbar _loadingbar";
  grid-area: _topsection;
  background-color: rgb(61, 58, 58);
  color: white;
}

._location {
  grid-area: _location;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 3vw;
}

._temprature {
  grid-area: _temprature;
  text-align: right;
  padding-top: 15px;
  padding-right: 15px;
  font-size: 3vw;
}

._time {
  grid-area: _time;
  text-align: center;
  padding-top: 15px;
  font-size: 3vw;
}

._description {
  grid-area: _description;
  font-size: 3vw;
}

._loadingbar {
  grid-area: _loadingbar;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(17, 3, 3, 0.3),
    rgba(255, 255, 255, 0)
  );
}
._weather {
  grid-area: _weather;
}

body {
  background-color: black;
}
